<ion-view title="Index" hide-nav-bar="true" id="page6" style="background-color:#43C05B;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <h1 id="index-heading1" style="color:#075311;text-align:center;">My Diary</h1>
    <div class="spacer" style="height: 100px;"></div>
    <div id="index-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#075311;">Tap your
        <strong>PIN</strong> to log-in</p>
    </div>
    <div id="index-button-bar1" class="button-bar">
      <button id="index-button6" class="button button-assertive button-block">1</button>
      <button id="index-button7" class="button button-positive button-block">2</button>
      <button id="index-button8" class="button button-calm button-block">3</button>
    </div>
    <div id="index-button-bar2" class="button-bar">
      <button id="index-button9" class="button button-energized button-block">4</button>
      <button id="index-button10" class="button button-light button-block">5</button>
      <button id="index-button11" class="button button-positive button-block">6</button>
    </div>
    <div id="index-button-bar3" class="button-bar">
      <button id="index-button12" class="button button-positive button-block">7</button>
      <button id="index-button13" class="button button-royal button-block">8</button>
      <button id="index-button14" class="button button-assertive button-block">9</button>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <button id="index-button15" class="button button-assertive button-block">Reset</button>
  </ion-content>
</ion-view>